.App {
  text-align: center;
  background-image: url("./BI.png");
  background-repeat: no-repeat;
  background-size: 100%;
}


@media screen and (min-width: 0px) and (max-width: 1400px) {
  #myPortfolio { height: 100px; }  
}
