.move-area{/*normally use body*/
    width: 100vw;
    height: 100vh;
    position: relative;
    top:30vh;

    
  }

  .eye1{/*normally use body*/
    position: relative;
    top:18.9vh;
    left:-6.1vw;
    
  }

  .eye2{/*normally use body*/
    position: relative;
    top:18.6vh;
    left:-2.1vw;
    
  }
  .container {
    width: 100%;
   
  }

  .eye {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: #CCC;
  }
  .eye:after { /*pupil*/
    position: absolute;
    bottom: 17px;
    right: 10px;
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 50%;
    content: " ";
  }
  .Portfolio{
    position: absolute;
    top:-15vh;
    left:31vw;
    height:740px;
  }
  
  @media screen and (max-width: 1400px) {
    .Portfolio{
      position: absolute;
      top:-15vh;
      left:31vw;
      height:500px;
    }
    .eye {
      width: 20px;
      height: 20px;
      
    }
    
  .eye1{/*normally use body*/
    top:21.9vh;
    left:-6.1vw;
    
  }

  .eye2{/*normally use body*/
    top:21.6vh;
    left:-2.1vw;
    
  }
  .Texte{
    font-size: 10px;
  }
    }
  